@page
@model Net_BookWebRazor_Temp.Pages.Categories.IndexModel

<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>List Category</h1>
        </div>
        <div class="col-8 text-end">
            <a asp-page="Add" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>  Create Category</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
       <div class="col-12">
        
            <table class="table table-bordered table-striped " style="text-align: center;">
                <thead>
                    <tr >
                       @*  <th scope="col">#</th> *@
                        <th scope="col">Name</th>
                        <th scope="col">Display Order</th>
                    </tr>
                </thead>
                <tbody >
                    @foreach(var obj in Model.Categories.OrderBy(u=> u.DisplayOrder))
                    {
                        <tr>
                           @*  <th scope="row">@obj.Id</th> *@
                            <td>@obj.Name</td>
                            <td>@obj.DisplayOrder</td>
                            <td>
                                <a asp-page="Edit"  class="btn btn-secondary" style="width: 189px;" asp-route-Id="@obj.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a asp-page="Delete" class="btn btn-danger" style="width: 189px;" asp-route-Id="@obj.Id" data-target="#deleteModal"><i class="bi bi-trash-fill"></i> Delete</a>

                            </td>
                        </tr>                    }
                
                </tbody>
            </table>       
       </div>

    </div>
</div>